USE [master]
GO
/****** Object:  Database [CustProfile]    Script Date: 2026-04-21 4:53:41 PM ******/
CREATE DATABASE [CustProfile]
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET COMPATIBILITY_LEVEL = 80
END TRY BEGIN CATCH END CATCH
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustProfile].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET ANSI_NULL_DEFAULT OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET ANSI_NULLS OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET ANSI_PADDING OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET ANSI_WARNINGS OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET ARITHABORT OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET AUTO_CLOSE ON
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET AUTO_SHRINK OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET AUTO_UPDATE_STATISTICS ON
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET CURSOR_CLOSE_ON_COMMIT OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET CURSOR_DEFAULT  GLOBAL
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET CONCAT_NULL_YIELDS_NULL OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET NUMERIC_ROUNDABORT OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET QUOTED_IDENTIFIER OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET RECURSIVE_TRIGGERS OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET  ENABLE_BROKER
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET AUTO_UPDATE_STATISTICS_ASYNC OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET DATE_CORRELATION_OPTIMIZATION OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET TRUSTWORTHY OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET ALLOW_SNAPSHOT_ISOLATION OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET PARAMETERIZATION SIMPLE
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET READ_COMMITTED_SNAPSHOT OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET HONOR_BROKER_PRIORITY OFF
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET RECOVERY FULL
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET  MULTI_USER
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET PAGE_VERIFY TORN_PAGE_DETECTION
END TRY BEGIN CATCH END CATCH
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET DB_CHAINING OFF
END TRY BEGIN CATCH END CATCH
GO
USE [CustProfile]
GO
/****** Object:  Table [dbo].[CallLog]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CallLog](
	[Phone_num] [nvarchar](14) NOT NULL,
	[Subject] [nvarchar](255) NULL,
	[SeqNo] [nvarchar](4) NOT NULL,
	[CallDate] [datetime] NULL,
	[CallTime] [datetime] NULL,
	[ServHour] [real] NULL,
	[Action] [nvarchar](255) NULL,
	[Via] [nvarchar](10) NULL,
	[Response] [nvarchar](30) NULL,
	[Status] [nvarchar](4) NULL,
	[Remark] [ntext] NULL,
 CONSTRAINT [PK_CallLog] PRIMARY KEY NONCLUSTERED 
(
	[Phone_num] ASC,
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [nvarchar](2) NOT NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Phone_num] [nvarchar](14) NOT NULL,
	[Ext1] [nvarchar](5) NULL,
	[Cust_Name] [nvarchar](50) NULL,
	[Street] [nvarchar](50) NULL,
	[City] [nvarchar](20) NULL,
	[Province] [nvarchar](30) NULL,
	[Contract_Service] [nvarchar](2) NULL,
	[Contact_Person] [nvarchar](20) NULL,
	[Postal_Code] [nvarchar](7) NULL,
	[Fax] [nvarchar](14) NULL,
	[Industry] [nvarchar](20) NULL,
	[Installation_Date] [nvarchar](10) NULL,
	[Last_Modified_Date] [nvarchar](10) NULL,
	[Phone2] [nvarchar](15) NULL,
	[EMail] [nvarchar](50) NULL,
	[Warranty_Expiry_DateHW] [nvarchar](10) NULL,
	[Warranty_Expiry_DateSF] [nvarchar](10) NULL,
	[Remote_Access] [nvarchar](1) NULL,
	[ServiceDay] [nvarchar](50) NULL,
	[ServiceHR] [nvarchar](50) NULL,
	[CreditCardType] [nvarchar](10) NULL,
	[CreditCardNum] [nvarchar](20) NULL,
	[CreditCardHolder] [nvarchar](20) NULL,
	[CreditCardExpDate] [nvarchar](10) NULL,
	[InstallationSummary] [ntext] NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY NONCLUSTERED 
(
	[Phone_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Phone_num] [varchar](20) NOT NULL,
	[Ext1] [varchar](5) NULL,
	[Cust_Name] [nvarchar](50) NULL,
	[Street] [varchar](50) NULL,
	[City] [varchar](20) NULL,
	[Province] [varchar](30) NULL,
	[Contract_Service] [varchar](2) NULL,
	[Contact_Person] [nvarchar](20) NULL,
	[Postal_Code] [varchar](7) NULL,
	[Fax] [varchar](14) NULL,
	[Industry] [varchar](20) NULL,
	[Installation_Date] [datetime] NULL,
	[Last_Modified_Date] [datetime] NULL,
	[Phone2] [varchar](20) NULL,
	[EMail] [varchar](50) NULL,
	[Warranty_Expiry_DateHW] [datetime] NULL,
	[Warranty_Expiry_DateSF] [datetime] NULL,
	[Remote_Access] [smallint] NULL,
	[ServiceDay] [varchar](50) NULL,
	[ServiceHR] [varchar](50) NULL,
	[CreditCardType] [varchar](10) NULL,
	[CreditCardNum] [varchar](20) NULL,
	[CreditCardHolder] [varchar](20) NULL,
	[CreditCardExpDate] [varchar](10) NULL,
	[URLAddress] [varchar](50) NULL,
	[RecDate] [varchar](30) NULL,
	[NoURL] [int] NULL,
	[AnyDesk] [varchar](50) NULL,
	[ADate] [varchar](30) NULL,
	[AStatus] [varchar](30) NULL,
	[BDate] [varchar](30) NULL,
	[BStatus] [varchar](30) NULL,
	[InstallationSummary] [ntext] NULL,
	[AccessIP] [varchar](50) NULL,
	[RustDesk] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY NONCLUSTERED 
(
	[Phone_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Engineer]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engineer](
	[ID] [nvarchar](2) NOT NULL,
	[Engineer] [nvarchar](50) NULL,
 CONSTRAINT [PK_Engineer] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventlog]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventlog](
	[Phone_num] [nvarchar](20) NOT NULL,
	[mType] [nvarchar](12) NOT NULL,
	[mDate] [nvarchar](12) NOT NULL,
	[mTime] [nvarchar](18) NOT NULL,
	[mSource] [nvarchar](30) NOT NULL,
	[mCategory] [nvarchar](30) NOT NULL,
	[mEvent] [nvarchar](10) NOT NULL,
	[mUser] [nvarchar](10) NOT NULL,
	[mComputer] [nvarchar](10) NOT NULL,
	[mDescription] [nvarchar](255) NULL,
 CONSTRAINT [PK_Eventlog] PRIMARY KEY NONCLUSTERED 
(
	[Phone_num] ASC,
	[mType] ASC,
	[mDate] ASC,
	[mTime] ASC,
	[mSource] ASC,
	[mCategory] ASC,
	[mEvent] ASC,
	[mUser] ASC,
	[mComputer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hardware]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hardware](
	[Phone_num] [nvarchar](14) NULL,
	[SeqNo] [nvarchar](50) NOT NULL,
	[Device_Name] [nvarchar](255) NULL,
	[MotherBoard] [nvarchar](255) NULL,
	[CPU] [nvarchar](255) NULL,
	[Memory] [nvarchar](255) NULL,
	[GraphicCard] [nvarchar](255) NULL,
	[HDD] [nvarchar](255) NULL,
	[Monitor] [nvarchar](255) NULL,
	[KB] [nvarchar](255) NULL,
	[Printer] [nvarchar](255) NULL,
	[Scanner] [nvarchar](255) NULL,
	[CashDrawer] [nvarchar](255) NULL,
	[Others] [nvarchar](255) NULL,
	[CustomerProvide] [nvarchar](6) NULL,
	[BorrowTo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Hardware] PRIMARY KEY NONCLUSTERED 
(
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HWRMA]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HWRMA](
	[Phone_num] [nvarchar](20) NOT NULL,
	[IssueDate] [datetime] NULL,
	[DeviceName] [nvarchar](50) NULL,
	[RMANo] [nvarchar](20) NOT NULL,
	[Problem] [nvarchar](255) NULL,
	[cAction] [nvarchar](20) NULL,
	[HandleBy] [nvarchar](20) NULL,
	[OldSN] [nvarchar](40) NULL,
	[NewSN] [nvarchar](40) NULL,
	[DeliveryMethod] [nvarchar](20) NULL,
	[RepairBy] [nvarchar](50) NULL,
	[VendorRMANo] [nvarchar](40) NULL,
	[ShipDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
	[Remark] [nvarchar](255) NULL,
	[Status] [nvarchar](10) NULL,
	[BorrowFrom] [nvarchar](50) NULL,
 CONSTRAINT [PK_HWRMA] PRIMARY KEY NONCLUSTERED 
(
	[Phone_num] ASC,
	[RMANo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Industry]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Industry](
	[ID] [nvarchar](2) NOT NULL,
	[Industry] [nvarchar](50) NULL,
 CONSTRAINT [PK_Industry] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Notes] [ntext] NULL,
	[UpdTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneCalls]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneCalls](
	[Id] [int] NOT NULL,
	[DateTime] [datetime] NULL,
	[Number] [nvarchar](30) NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_PhoneCalls] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POTrack]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POTrack](
	[PO_NUM] [nvarchar](15) NOT NULL,
	[TRACK_NUM] [nvarchar](40) NULL,
	[Date_Out_Factory_CHK] [bit] NULL,
	[Date_Out_Factory_PLAN] [datetime] NULL,
	[Date_Out_Factory_ADJUST] [datetime] NULL,
	[Date_Out_Factory_ACTUAL] [datetime] NULL,
	[Supplier_Name] [nvarchar](40) NULL,
	[Supplier_TEL] [nvarchar](20) NULL,
	[Date_Fill_Container_CHK] [bit] NULL,
	[Date_Fill_Container_PLAN] [datetime] NULL,
	[Date_Fill_Container_ADJUST] [datetime] NULL,
	[Date_Fill_Container_ACTUAL] [datetime] NULL,
	[Date_Off_Shore_CHK] [bit] NULL,
	[Date_Off_Shore_PLAN] [datetime] NULL,
	[Date_Off_Shore_ADJUST] [datetime] NULL,
	[Date_Off_Shore_ACTUAL] [datetime] NULL,
	[Cargo_Company] [nvarchar](40) NULL,
	[Cargo_TEL] [nvarchar](20) NULL,
	[Date_On_Shore_CHK] [bit] NULL,
	[Date_On_Shore_PLAN] [datetime] NULL,
	[Date_On_Shore_ADJUST] [datetime] NULL,
	[Date_On_Shore_ACTUAL] [datetime] NULL,
	[Date_Custom_CHK] [bit] NULL,
	[Date_Custom_PLAN] [datetime] NULL,
	[Date_Custom_ADJUST] [datetime] NULL,
	[Date_Custom_ACTUAL] [datetime] NULL,
	[Broker_Name] [nvarchar](40) NULL,
	[Broker_TEL] [nvarchar](20) NULL,
	[Date_Leave_Custom_CHK] [bit] NULL,
	[Date_Leave_Custom_PLAN] [datetime] NULL,
	[Date_Leave_Custom_ADJUST] [datetime] NULL,
	[Date_Leave_Custom_ACTUAL] [datetime] NULL,
	[Date_Land_Trans1_CHK] [bit] NULL,
	[Date_Land_Trans1_PLAN] [datetime] NULL,
	[Date_Land_Trans1_ADJUST] [datetime] NULL,
	[Date_Land_Trans1_ACTUAL] [datetime] NULL,
	[Trans1_Company] [nvarchar](40) NULL,
	[Trans1_TEL] [nvarchar](20) NULL,
	[Date_Land_Trans2_CHK] [bit] NULL,
	[Date_Land_Trans2_PLAN] [datetime] NULL,
	[Date_Land_Trans2_ADJUST] [datetime] NULL,
	[Date_Land_Trans2_ACTUAL] [datetime] NULL,
	[Trans2_Company] [nvarchar](40) NULL,
	[Trans2_TEL] [nvarchar](20) NULL,
	[Date_Land_Trans3_CHK] [bit] NULL,
	[Date_Land_Trans3_PLAN] [datetime] NULL,
	[Date_Land_Trans3_ADJUST] [datetime] NULL,
	[Date_Land_Trans3_ACTUAL] [datetime] NULL,
	[Trans3_Company] [nvarchar](40) NULL,
	[Trans3_TEL] [nvarchar](20) NULL,
	[Date_Arrival_CHK] [bit] NULL,
	[Date_Arrival_PLAN] [datetime] NULL,
	[Date_Arrival_ADJUST] [datetime] NULL,
	[Date_Arrival_ACTUAL] [datetime] NULL,
 CONSTRAINT [PK_POTrack] PRIMARY KEY NONCLUSTERED 
(
	[PO_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[HWID] [nvarchar](50) NOT NULL,
	[HWName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY NONCLUSTERED 
(
	[HWID] ASC,
	[HWName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressActual]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressActual](
	[PurchNum] [nvarchar](15) NOT NULL,
	[CreateDate] [datetime] NULL,
	[LFDate] [datetime] NULL,
	[LPDate] [datetime] NULL,
	[PIDate] [datetime] NULL,
	[STDate] [datetime] NULL,
 CONSTRAINT [PK_ProgressActual] PRIMARY KEY NONCLUSTERED 
(
	[PurchNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressAdjust]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressAdjust](
	[PurchNum] [nvarchar](15) NOT NULL,
	[CreateDate] [datetime] NULL,
	[LFDate] [datetime] NULL,
	[LPDate] [datetime] NULL,
	[PIDate] [datetime] NULL,
	[STDate] [datetime] NULL,
 CONSTRAINT [PK_ProgressAdjust] PRIMARY KEY NONCLUSTERED 
(
	[PurchNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressSchedule]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressSchedule](
	[PurchNum] [nvarchar](15) NOT NULL,
	[CreateDate] [datetime] NULL,
	[LFDate] [datetime] NULL,
	[LPDate] [datetime] NULL,
	[PIDate] [datetime] NULL,
	[STDate] [datetime] NULL,
 CONSTRAINT [PK_ProgressSchedule] PRIMARY KEY NONCLUSTERED 
(
	[PurchNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceDay]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceDay](
	[Seq_num] [nvarchar](2) NOT NULL,
	[ServiceDay] [nvarchar](50) NULL,
 CONSTRAINT [PK_ServiceDay] PRIMARY KEY NONCLUSTERED 
(
	[Seq_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceHR]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceHR](
	[Seq_num] [nvarchar](2) NOT NULL,
	[ServiceHR] [nvarchar](50) NULL,
 CONSTRAINT [PK_ServiceHR] PRIMARY KEY NONCLUSTERED 
(
	[Seq_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlaveConnection]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlaveConnection](
	[Phone_num] [nvarchar](20) NOT NULL,
	[POSID] [nvarchar](2) NOT NULL,
	[DataSyncStatus] [nvarchar](20) NULL,
	[LatestSyncTime] [nvarchar](20) NULL,
	[DataCollectStatus] [nvarchar](20) NULL,
	[LatestCollectTime] [nvarchar](20) NULL,
	[ConnStatus] [smallint] NULL,
 CONSTRAINT [PK_SlaveConnection] PRIMARY KEY CLUSTERED 
(
	[Phone_num] ASC,
	[POSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support](
	[Company Name] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Contact Person] [nvarchar](255) NULL,
	[Phone Number] [nvarchar](255) NULL,
	[Ext1] [nvarchar](255) NULL,
	[Customer ID] [nvarchar](255) NULL,
	[Comment] [nvarchar](255) NULL,
	[Categories] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SWFix]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SWFix](
	[Phone_Num] [nvarchar](14) NULL,
	[SoftwareName] [nvarchar](50) NULL,
	[IssueDate] [datetime] NULL,
	[Version] [nvarchar](30) NULL,
	[Problem] [nvarchar](255) NULL,
	[cAction] [nvarchar](255) NULL,
	[CaseNum] [nvarchar](15) NOT NULL,
	[HandleBy] [nvarchar](20) NULL,
	[DeliveryMethod] [nvarchar](20) NULL,
	[Status] [nvarchar](8) NULL,
	[Remark] [nvarchar](255) NULL,
 CONSTRAINT [PK_SWFix] PRIMARY KEY NONCLUSTERED 
(
	[CaseNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SWName]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SWName](
	[ID] [nvarchar](2) NOT NULL,
	[Software_Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_SWName] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemParm]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemParm](
	[FieldID] [nvarchar](20) NOT NULL,
	[FieldValue] [nvarchar](100) NULL,
	[GroupName] [nvarchar](15) NULL,
	[Description] [nvarchar](255) NULL,
	[DataType] [nvarchar](8) NULL,
	[Field_Constraint] [nvarchar](255) NULL,
 CONSTRAINT [PK_SystemParm] PRIMARY KEY NONCLUSTERED 
(
	[FieldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2026-04-21 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] NOT NULL,
	[rdate] [datetime] NULL,
	[sdate] [datetime] NULL,
	[tdate] [datetime] NULL,
	[name] [nvarchar](100) NULL,
	[pass] [nvarchar](50) NULL,
	[id_name] [nvarchar](50) NULL,
	[redirect] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](150) NULL,
	[status] [int] NULL,
	[acces] [nvarchar](50) NULL,
	[kokota] [nvarchar](100) NULL,
	[link] [ntext] NULL,
	[service] [money] NULL,
	[balance] [money] NULL,
	[cid] [nvarchar](8) NULL,
	[content] [ntext] NULL,
	[URL] [nvarchar](15) NULL,
	[Blocked] [smallint] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CallLog] ADD  CONSTRAINT [DF_CallLog_ServHour]  DEFAULT ((0)) FOR [ServHour]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_Remote_Access]  DEFAULT ((0)) FOR [Remote_Access]
GO
ALTER TABLE [dbo].[SystemParm] ADD  CONSTRAINT [DF_SystemParm_GroupName]  DEFAULT ('NOTSHOWN') FOR [GroupName]
GO
ALTER TABLE [dbo].[SystemParm] ADD  CONSTRAINT [DF_SystemParm_Description]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[SystemParm] ADD  CONSTRAINT [DF_SystemParm_DataType]  DEFAULT ('CHAR') FOR [DataType]
GO
ALTER TABLE [dbo].[SystemParm] ADD  CONSTRAINT [DF_SystemParm_Field_Constraint]  DEFAULT ('') FOR [Field_Constraint]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_Blocked]  DEFAULT ((0)) FOR [Blocked]
GO
USE [master]
GO
BEGIN TRY
ALTER DATABASE [CustProfile] SET  READ_WRITE
END TRY BEGIN CATCH END CATCH
GO
